<a href="https://colab.research.google.com/github/ragalaa/Directory/blob/master/HTML_%26_JSON_DATA_pull_request.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
import pandas as pd
tables = pd.read_html('./fdic_failed_bank_list.html')
len(tables)
tables
failures = tables[0]
# type(failures)
failures.sample(5)

                            Bank Name  ...      Updated Date
516          First Integrity Bank, NA  ...  October 20, 2016
420  Union Bank, National Association  ...   August 21, 2012
108          Central Progressive Bank  ...  February 5, 2015
241                         ShoreBank  ...      May 16, 2013
345    First National Bank of Georgia  ...    March 21, 2014

[5 rows x 7 columns]

# HTML mapping to dataframe:

In [18]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

# JSON mapping to Dataframe
Example:in Datasert folder

In [0]:
from lxml import objectify

path = './mta_perf_Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [22]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

{'AGENCY_NAME': 'Metro-North Railroad',
 'CATEGORY': 'Service Indicators',
 'DESCRIPTION': 'Percent of the time that escalators are operational systemwide. The availability rate is based on physical observations performed the morning of regular business days only. This is a new indicator the agency began reporting in 2009.',
 'FREQUENCY': 'M',
 'INDICATOR_NAME': 'Escalator Availability',
 'INDICATOR_UNIT': '%',
 'MONTHLY_ACTUAL': '',
 'MONTHLY_TARGET': 97.0,
 'PERIOD_MONTH': 12,
 'PERIOD_YEAR': 2011,
 'YTD_ACTUAL': '',
 'YTD_TARGET': 97.0}

In [23]:
perf = pd.DataFrame(data)
perf.head()

            AGENCY_NAME            CATEGORY  ... YTD_ACTUAL YTD_TARGET
0  Metro-North Railroad  Service Indicators  ...       96.9         95
1  Metro-North Railroad  Service Indicators  ...         96         95
2  Metro-North Railroad  Service Indicators  ...       96.3         95
3  Metro-North Railroad  Service Indicators  ...       96.8         95
4  Metro-North Railroad  Service Indicators  ...       96.6         95

[5 rows x 12 columns]

In [36]:
## read one more from business partner!!!
path = './Test_pat.XML'
parsed = objectify.parse(open(path))
root = parsed.getroot()
root

In [40]:
PartnerData = []

# skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
#                'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.Record:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    PartnerData.append(el_data)
    
PartnerData

[{'ContactFirstName': 'RYANNE',
  'ContactLastName': 'SANDERS',
  'CustomerName': 'STREMICK HERITAGE FOODS LLC',
  'CustomerNumber': 9303934,
  'DeviceLocation': 'OFFICE',
  'DeviceType': 'EMAIL',
  'Phone1': 'RYANNE.SANDERS@SCE.COM',
  'RelationshipType': 341,
  'RelationshipTypeDesc': 'PLANNED OUTAGE NOTIFY',
  'SourceCode': 'SAP CRM'},
 {'ContactFirstName': 'TIM',
  'ContactLastName': 'BARBER',
  'CustomerName': 'STREMICK HERITAGE FOODS LLC',
  'CustomerNumber': 9303934,
  'DeviceLocation': 'OFFICE',
  'DeviceType': 'PHONE',
  'Phone1': '(714)  348-1890',
  'RelationshipType': 341,
  'RelationshipTypeDesc': 'PLANNED OUTAGE NOTIFY',
  'SourceCode': 'SAP CRM'},
 {'ContactFirstName': 'TIM',
  'ContactLastName': 'BARBER',
  'CustomerName': 'STREMICK HERITAGE FOODS LLC',
  'CustomerNumber': 9303934,
  'DeviceLocation': 'OFFICE',
  'DeviceType': 'EMAIL',
  'Phone1': 'TBARBER@HERITAGE-FOODS.COM',
  'RelationshipType': 341,
  'RelationshipTypeDesc': 'PLANNED OUTAGE NOTIFY',
  'SourceCode': 'SAP CRM'},
 {'ContactFirstName': 'ROBERT',
  'ContactLastName': 'BALL',
  'CustomerName': 'STREMICK HERITAGE FOODS LLC',
  'CustomerNumber': 9303934,
  'DeviceLocation': 'OFFICE',
  'DeviceType': 'PHONE',
  'Phone1': '(714)  775-5081',
  'RelationshipType': 341,
  'RelationshipTypeDesc': 'PLANNED OUTAGE NOTIFY',
  'SourceCode': 'SAP CRM'},
 {'ContactFirstName': 'ROBERT',
  'ContactLastName': 'BALL',
  'CustomerName': 'STREMICK HERITAGE FOODS LLC',
  'CustomerNumber': 9303934,
  'DeviceLocation': 'OFFICE',
  'DeviceType': 'EMAIL',
  'Phone1': 'ROBBALL@HERITAGE-FOODS.COM',
  'RelationshipType': 341,
  'RelationshipTypeDesc': 'PLANNED OUTAGE NOTIFY',
  'SourceCode': 'SAP CRM'},
 {'ContactFirstName': 'JACK',
  'ContactLastName': 'NOENICKX',
  'CustomerName': 'STREMICK HERITAGE FOODS LLC',
  'CustomerNumber': 9303934,
  'DeviceLocation': 'OFFICE',
  'DeviceType': 'PHONE',
  'Phone1': '(714)  775-5004',
  'RelationshipType': 341,
  'RelationshipTypeDesc': 'PLANNED OUTAGE NOTIFY',
  'SourceCode': 'SAP CRM'},
 {'ContactFirstName': 'JACK',
  'ContactLastName': 'NOENICKX',
  'CustomerName': 'STREMICK HERITAGE FOODS LLC',
  'CustomerNumber': 9303934,
  'DeviceLocation': 'OFFICE',
  'DeviceType': 'EMAIL',
  'Phone1': 'JACKNOENICKX@HERITAGE-FOODS.COM',
  'RelationshipType': 341,
  'RelationshipTypeDesc': 'PLANNED OUTAGE NOTIFY',
  'SourceCode': 'SAP CRM'},
 {'ContactFirstName': 'HA',
  'ContactLastName': 'TON',
  'CustomerName': 'STREMICK HERITAGE FOODS LLC',
  'CustomerNumber': 9303934,
  'DeviceLocation': 'OFFICE',
  'DeviceType': 'PHONE',
  'Phone1': '(714)  775-5044',
  'RelationshipType': 341,
  'RelationshipTypeDesc': 'PLANNED OUTAGE NOTIFY',
  'SourceCode': 'SAP CRM'},
 {'ContactFirstName': 'HA',
  'ContactLastName': 'TON',
  'CustomerName': 'STREMICK HERITAGE FOODS LLC',
  'CustomerNumber': 9303934,
  'DeviceLocation': 'OFFICE',
  'DeviceType': 'EMAIL',
  'Phone1': 'haton@heritage-foods.com',
  'RelationshipType': 341,
  'RelationshipTypeDesc': 'PLANNED OUTAGE NOTIFY',
  'SourceCode': 'SAP CRM'}]

In [93]:
perf_bus = pd.DataFrame(PartnerData)
perf_bus.loc[0:2,:]
perf_bus.iloc[1:9,2:-1]

                  CustomerName  ...   RelationshipTypeDesc
1  STREMICK HERITAGE FOODS LLC  ...  PLANNED OUTAGE NOTIFY
2  STREMICK HERITAGE FOODS LLC  ...  PLANNED OUTAGE NOTIFY
3  STREMICK HERITAGE FOODS LLC  ...  PLANNED OUTAGE NOTIFY
4  STREMICK HERITAGE FOODS LLC  ...  PLANNED OUTAGE NOTIFY
5  STREMICK HERITAGE FOODS LLC  ...  PLANNED OUTAGE NOTIFY
6  STREMICK HERITAGE FOODS LLC  ...  PLANNED OUTAGE NOTIFY
7  STREMICK HERITAGE FOODS LLC  ...  PLANNED OUTAGE NOTIFY
8  STREMICK HERITAGE FOODS LLC  ...  PLANNED OUTAGE NOTIFY

[8 rows x 7 columns]

In [70]:
SAT = pd.Series(perf_bus['DeviceType'])
SAT.value_counts()

EMAIL    5
PHONE    4
Name: DeviceType, dtype: int64

# API Calls:Interacting with Web APIsÂ¶

In [109]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [120]:
data = resp.json()
data[0]['number']
# data

28913

In [114]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

    number  ... state
0    28913  ...  open
1    28912  ...  open
2    28911  ...  open
3    28910  ...  open
4    28909  ...  open
5    28908  ...  open
6    28907  ...  open
7    28906  ...  open
8    28905  ...  open
9    28904  ...  open
10   28903  ...  open
11   28902  ...  open
12   28901  ...  open
13   28900  ...  open
14   28899  ...  open
15   28898  ...  open
16   28897  ...  open
17   28896  ...  open
18   28894  ...  open
19   28893  ...  open
20   28892  ...  open
21   28890  ...  open
22   28886  ...  open
23   28882  ...  open
24   28881  ...  open
25   28876  ...  open
26   28875  ...  open
27   28874  ...  open
28   28872  ...  open
29   28871  ...  open

[30 rows x 4 columns]