<a href="https://colab.research.google.com/github/ragalaa/Machine-Learning-Basics/blob/master/Portfolio_optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from pandas_datareader import data as web
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
assets =  [ 'AAPL','ADBE','CVX','GOOG','IBM','MDLZ','MSFT','NFLX','ORCL','SBUX']    #['NXP']
data = pd.DataFrame()
for stock in assets:
    data[stock] = web.DataReader(stock, data_source='yahoo',start='2017-1-1' ,end='2020-2-1')['Adj Close']

# data = pd.read_csv('Portfolio_Data.csv',sep=",")

In [21]:
data.head()

                  AAPL        ADBE  ...       ORCL       SBUX
Date                                ...
2019-01-02  155.214005  224.570007  ...  44.264744  62.841625
2019-01-03  139.753540  215.699997  ...  43.834042  60.115749
2019-01-04  145.719513  226.190002  ...  45.723270  62.108860
2019-01-07  145.395203  229.259995  ...  46.447636  62.108860
2019-01-08  148.166870  232.679993  ...  46.868557  62.157711

[5 rows x 10 columns]

# New Section

In [0]:
# ### Convert date to format present in 4-Jan-19 to (DD-MM-YYY)
# data['Date'] = pd.to_datetime(data['Date'], format='%d-%b-%y')

In [51]:
data.head()

                  AAPL        ADBE  ...       ORCL       SBUX
Date                                ...
2017-01-03  110.691154  103.480003  ...  36.695465  51.889256
2017-01-04  110.567276  104.139999  ...  36.876324  52.489239
2017-01-05  111.129562  105.910004  ...  36.781132  52.929848
2017-01-06  112.368469  108.300003  ...  36.600273  53.557957
2017-01-09  113.397697  108.570000  ...  37.152374  54.561058

[5 rows x 10 columns]

In [0]:
### Sort values by Date
data = data.sort_values(['Date'], ascending=[True])

In [53]:
### Data percentage changes 
### calculate % changes of adjacent rows in the data frame( on numerical columns only)

## data.dtypes return  data types of columns

### step 1 :Filter out all columns whose datatype's are not 'float64 and int64'

returns = data[[key for key in dict(data.dtypes) if dict(data.dtypes)[key] in ['float64', 'int64']]].pct_change()
returns = returns[1:]
returns.head()

                AAPL      ADBE       CVX  ...      NFLX      ORCL      SBUX
Date                                      ...
2017-01-04 -0.001119  0.006378 -0.000254  ...  0.015060  0.004929  0.011563
2017-01-05  0.005085  0.016996 -0.004329  ...  0.018546 -0.002581  0.008394
2017-01-06  0.011148  0.022566 -0.004006  ... -0.005614 -0.004917  0.011867
2017-01-09  0.009159  0.002493 -0.008559  ... -0.000916  0.015085  0.018729
2017-01-10  0.001009 -0.002855 -0.007596  ... -0.008095 -0.009480 -0.005498

[5 rows x 10 columns]

In [54]:
# lists = []
# for key in dict(data.dtypes):
#     lists.append(key)
# lists    
dict(data.dtypes)

{'AAPL': dtype('float64'),
 'ADBE': dtype('float64'),
 'CVX': dtype('float64'),
 'GOOG': dtype('float64'),
 'IBM': dtype('float64'),
 'MDLZ': dtype('float64'),
 'MSFT': dtype('float64'),
 'NFLX': dtype('float64'),
 'ORCL': dtype('float64'),
 'SBUX': dtype('float64')}

In [55]:
### set the tickers
stocknames = ["AAPL","ADBE","CVX","GOOG","IBM","MDLZ","MSFT","NFLX","ORCL","SBUX"]
stocknames

['AAPL', 'ADBE', 'CVX', 'GOOG', 'IBM', 'MDLZ', 'MSFT', 'NFLX', 'ORCL', 'SBUX']

In [56]:
stockreturns = returns[stocknames]
stockreturns.head()

                AAPL      ADBE       CVX  ...      NFLX      ORCL      SBUX
Date                                      ...
2017-01-04 -0.001119  0.006378 -0.000254  ...  0.015060  0.004929  0.011563
2017-01-05  0.005085  0.016996 -0.004329  ...  0.018546 -0.002581  0.008394
2017-01-06  0.011148  0.022566 -0.004006  ... -0.005614 -0.004917  0.011867
2017-01-09  0.009159  0.002493 -0.008559  ... -0.000916  0.015085  0.018729
2017-01-10  0.001009 -0.002855 -0.007596  ... -0.008095 -0.009480 -0.005498

[5 rows x 10 columns]

In [57]:
### Co variance Matrix calculation

Covstocks = stockreturns.cov()
Covstocks

          AAPL      ADBE       CVX  ...      NFLX      ORCL      SBUX
AAPL  0.000243  0.000145  0.000063  ...  0.000164  0.000085  0.000060
ADBE  0.000145  0.000298  0.000059  ...  0.000223  0.000102  0.000070
CVX   0.000063  0.000059  0.000148  ...  0.000071  0.000052  0.000034
GOOG  0.000138  0.000158  0.000057  ...  0.000186  0.000086  0.000067
IBM   0.000074  0.000090  0.000051  ...  0.000086  0.000073  0.000050
MDLZ  0.000046  0.000047  0.000031  ...  0.000048  0.000040  0.000040
MSFT  0.000134  0.000179  0.000064  ...  0.000182  0.000095  0.000066
NFLX  0.000164  0.000223  0.000071  ...  0.000546  0.000107  0.000066
ORCL  0.000085  0.000102  0.000052  ...  0.000107  0.000177  0.000057
SBUX  0.000060  0.000070  0.000034  ...  0.000066  0.000057  0.000161

[10 rows x 10 columns]

In [58]:
### Number  of stocks (n)

n = len(stocknames)
n

10

In [59]:
!pip install CVXOPT

Requirement already satisfied: CVXOPT in /usr/local/lib/python3.6/dist-packages (1.2.4)

In [0]:
import cvxopt as opt
from cvxopt import matrix, solvers

In [61]:
expectreturn = np.mean(stockreturns)
expectreturn

AAPL    0.001448
ADBE    0.001728
CVX     0.000102
GOOG    0.000883
IBM     0.000057
MDLZ    0.000460
MSFT    0.001456
NFLX    0.001559
ORCL    0.000551
SBUX    0.000710
dtype: float64

In [62]:
### Conver to matrix the expected Return data frame
expectreturn = matrix(expectreturn)
expectreturn

In [63]:
maxLoss = np.min(stockreturns)
maxLoss

AAPL   -0.099607
ADBE   -0.080372
CVX    -0.055666
GOOG   -0.076966
IBM    -0.076282
MDLZ   -0.047829
MSFT   -0.054338
NFLX   -0.102720
ORCL   -0.094321
SBUX   -0.092437
dtype: float64

In [64]:
maxLoss = -maxLoss
maxLoss

AAPL    0.099607
ADBE    0.080372
CVX     0.055666
GOOG    0.076966
IBM     0.076282
MDLZ    0.047829
MSFT    0.054338
NFLX    0.102720
ORCL    0.094321
SBUX    0.092437
dtype: float64

In [65]:
### 1) Objective Fucntion of Optimuization

Objective = matrix(maxLoss)
Objective

In [0]:
### 2) seting Up Constaints

In [67]:
### Sum of weights = 100%
### Define LHS of contraint  1 row , n columns , each value = 1

constraintEqualityLhs = matrix(1.0, (1,n))
constraintEqualityLhs

In [68]:
### Right hand side of equality
### RHS  1 row, 1 column , value = 1
constraintEqualityRHS = matrix(1.0)
constraintEqualityRHS

In [69]:
### Non negative contraints -np.identity(n)
### Define LHS as an identity matrix, but multiply by -1(for >=)

contraintsInequalityLhsRow1 = matrix(-np.identity(n))
contraintsInequalityLhsRow1

In [70]:
### Non negative constraints :matrix(0.0,(n,1))
### define RHS as all zeros,n rows and 1 column

contraintsInequalityRhsRow1 = matrix(0.0,(n,1))
contraintsInequalityRhsRow1

In [71]:
### one more Inequlaity contraimnts  
#### threshold expected return >= 2%
### LHS as average of returns of each stock - 1 row, 10 columns
contraintsInequalityLhsRow2 = matrix(-np.transpose(np.array(expectreturn)))
contraintsInequalityLhsRow2

In [72]:
### LHS = -np.ones(1,1)* 2%
contraintsIneuqualityRhsRow2 = matrix(-np.ones((1,1))*0.02)
contraintsIneuqualityRhsRow2

In [73]:
### concatenate all rows using concatenate into 1 matrix
contraintsInequalityLhsCombined = matrix(np.concatenate((contraintsInequalityLhsRow1,contraintsInequalityLhsRow2),0))
contraintsInequalityLhsCombined

In [74]:
contraintsInequalityRhsCombined = matrix(np.concatenate((contraintsInequalityRhsRow1,contraintsIneuqualityRhsRow2),0))
contraintsInequalityRhsCombined

In [75]:
#### Usings SOlver for optimizations
### solving LPP( Liner programming variance )

### Return solution object.

solution = solvers.lp(Objective,contraintsInequalityLhsCombined,contraintsInequalityRhsCombined,constraintEqualityLhs,constraintEqualityRHS)

     pcost       dcost       gap    pres   dres   k/t
 0:  7.8055e-02  9.8659e-02  1e+01  3e+00  3e+00  1e+00
 1:  7.5969e-02 -6.3497e-02  8e-01  5e-01  5e-01  4e-03
 2:  7.1528e-02  6.2341e-02  5e-02  7e-02  6e-02  1e-02
 3:  8.6693e-02  7.8208e-02  2e-01  1e-01  1e-01  3e-02
 4:  9.3883e-02  1.8594e-01  1e+00  1e-01  1e-01  1e-01
 5:  9.6721e-02  8.8367e+00  9e+01  1e-01  1e-01  9e+00
 6:  9.6722e-02  8.7678e+02  9e+03  1e-01  1e-01  9e+02
 7:  9.6722e-02  8.7672e+04  9e+05  1e-01  1e-01  9e+04
 8:  9.6722e-02  8.7671e+06  9e+07  1e-01  1e-01  9e+06
Certificate of primal infeasibility found.

In [76]:
WeightLinear= solution['x']
WeightLinear=np.array(WeightLinear)
WeightLinear
sum(WeightLinear)

TypeError: ignored

In [80]:
solution

{'dual infeasibility': None,
 'dual objective': 1.0,
 'dual slack': 4.045764668285834,
 'gap': None,
 'iterations': 8,
 'primal infeasibility': None,
 'primal objective': None,
 'primal slack': None,
 'relative gap': None,
 'residual as dual infeasibility certificate': None,
 'residual as primal infeasibility certificate': 4.198259795212721e-08,
 's': None,
 'status': 'primal infeasible',
 'x': None,
 'y': <1x1 matrix, tc='d'>,
 'z': <11x1 matrix, tc='d'>}

In [77]:
### Calculate Risk of Portfolio by 
### It resturn sum-product of weights and max losses

portfolioRiskLinear = np.dot(WeightLinear.T,maxLoss)
portfolioRiskLinear

TypeError: ignored

In [0]:
### Calculate Return of Portfolio by 
### It resturn sum-product of weights and max losses

portfolioReturnLinear = np.dot(WeightLinear.T,maxLoss)
portfolioReturnLinear

array([0.24809735])