<a href="https://colab.research.google.com/github/ragalaa/Machine-Learning-Basics/blob/master/SQLITE_MD5_file_changesscript.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import sqlite3
import hashlib

In [0]:
def getbasefile():
    """ Name of SQLite DB file
        Return name of SQLdatabase file which has the same
        name as python script
     """
    return os.path.splitext(os.path.basename(__file__))[0]

In [0]:
def connectdb():
    """ Connect to SQLite DB """
    try:
        dbfile = 'SAP_Extract' + '.sqlite'
        conn = sqlite3.connect(dbfile, timeout=2)
    except  err:
        print (err)
        conn = None
    return conn

In [0]:
## Write to data base
def corecursor(conn,query):
    """ Opens SQLDB cursor """
    result = False
    try:
        cursor = conn.cursor()
        cursor.execute(query)
        rows = cursor.fetchall()
        
        numrows = len(list(rows))
        print()
        if numrows >0:
            result = True
    except sqlite3.OperationalError:
        print ('Corecursor error')
        cursor.close()
    finally:
        cursor.close()
    return result

In [0]:
def tableexists(table):
    """ Checks if a SQlite DB table exists"""
    result = False
    try:
        conn = connectdb()
        if not conn is None:
            core = "SELECT name FROM sqlite_master WHERE type= 'table' AND name= '"
            query = core + table +"'"
            result = corecursor(conn, query)
            print( result)
            conn.close()
    except sqlite3.OperationalError:
        conn.close()
    return result

In [0]:
def createhashtableidx():
    """ create a SQlite DB Tbale index"""
    table = 'files'
    query = 'CREATE INDEX idxfile on files (file, md5)'
    try:
        conn = connectdb()
        if not conn is None:
            if not tableexists(table):
               
                
                try:
                    cursor = conn.cursor()
                    cursor.execute(query)
                    
                except sqlite3.OperationalError:
                    cursor.close()
                finally:
                    conn.commit()
                    conn.close()
    except sqlite3.OperationalError:
        print ('createhashtableidx error') 
        conn.close()  
    finally:
        conn.close()

In [0]:
def runcmd(qry):
    """ Run a specific command on the SQLite DB"""
    try:
        conn = connectdb()

        if not conn is None:
            if tableexists('files'):
            
                try:
                    cursor = conn.cursor()
                    cursor.execute(qry)
                    
                except sqlite3.OperationalError:
                 cursor.close() 
                   
                
                finally:
                    conn.commit()
                    conn.close()
    except sqlite3.OperationalError:
        print ('runcmd error')
        conn.close()
    finally:
        conn.close()

In [0]:
def updatehashtable(fname,md5):
    """ Update the SQlite File tbale"""
    qry = "UPDATE files SET md5 = '{md5}' WHERE file ='{fname}'".format(fname = fname,md5 =md5)
    runcmd(qry)

In [0]:
def inserthashtable(fname,md5):
    """ Insert the SQlite File tbale"""
    qry = "INSERT INTO FILES (file,md5) VALUES ('{fname}','{md5}')".format(fname = fname,md5 =md5)
    runcmd(qry)

In [0]:
def sethashtable(fname,md5):
    """ Set's up has table"""
    createhashtable()
    createhashtableidx()
    inserthashtable(fname,md5)

In [285]:
# insert = inserthashtable('./SAP_Extract/SAP_Extract.xlsx','f4c5aeb97e0d3845f6a10941cf1bd38')

0
False

In [0]:
def createhashtable():
    conn = connectdb()
    try:
        cursor = conn.cursor()
        cursor.execute('''CREATE TABLE FILES
         (file CHAR PRIMARY KEY  NOT NULL,
          MD5           CHAR(32) NOT NULL);''')                  
    except sqlite3.OperationalError:
            cursor.close()              
    finally:
            conn.commit()
            conn.close()

In [0]:
def md5indb(fname):
    """ Check if the md5 hash tag exists in the SQlite DB """
    items = []
    qry = "SELECT md5 FROM FILES" 
    #WHERE file = '" + fname + "'"
    try:
        conn = connectdb()
        print(fname)
        
        if not conn is None:
            # if tableexists('files'):
            #     print('2.table exists')
                try:
                    cursor = conn.cursor()
                    cursor.execute(qry)
                    for row in cursor:
                        print(cursor ,'started')
                        items.append(row[0])
                        print(items)
                except sqlite3.OperationalError:                    
                    cursor.close()
                finally:
                    cursor.close()
    except sqlite3.OperationalError:
        print ('md5indb error')
        conn.close()
    finally:
        conn.close()
    return items

In [286]:
rows = md5indb('./SAP_Extract/SAP_Extract.xlsx')
rows

./SAP_Extract/SAP_Extract.xlsx

[]

In [0]:
 def haschanged(fname,md5):
     """ checkst if filehas changed"""
     result = False
     oldmd5 = md5indb(fname)
     numits = len(oldmd5)
     print(numits)
     if numits > 0:
         if oldmd5[0] != md5:
             result = True
             updatehashtable(fname,md5)
     else:
        sethashtable(fname,md5) 
     return result

In [0]:
def getfileext(fname):
 # Get the file name extension """
    rootext = os.path.splitext(fname)
    return rootext[1]

In [0]:
def getmoddate(fname):
    """ Get file modified date """
    try:
        mtime = os.path.getmtime(fname)
    except OSError:
        # print str(emsg)
        mtime = 0
    return mtime

In [0]:
def md5short(fname):
    """ Get md5 file hash tag"""
    Encoded = str(fname).encode('utf-8')
    Pipe = str('|').encode('utf-8')
    Mdate = str(getmoddate(fname)).encode('utf-8')
   
    return hashlib.md5(Encoded + Pipe + Mdate).hexdigest()

In [0]:
def checkfilechanges(folder,exclude):
    """ Checks for files changes"""
    for subdir,dirs,files in os.walk(folder):
      
        for fname in files:
            origin = os.path.join(subdir, fname)
            if os.path.isfile(origin):
                fext = getfileext(origin)
                if not fext in exclude:
                    md5 = md5short(origin)
                    print(md5,origin)
                    if haschanged(origin,md5):
                       print(origin + 'has CHnaged...')
                    else:
                        print(origin +' has not changed')

In [284]:
checkfilechanges("./SAP_Extract", ['.db','.py'])

f4c5aeb97e0d3845f6a10941cf1bd384 ./SAP_Extract/SAP_Extract.xlsx
./SAP_Extract/SAP_Extract.xlsx
0
0
False
1.tbale exists
0
False
./SAP_Extract/SAP_Extract.xlsx has not changed

In [287]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [0]:
cursor.execute('''CREATE TABLE SCHOOL
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         MARKS          INT);''')
cursor.close()

In [0]:
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (1, 'Rohan', 14, 'Delhi', 200)");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (2, 'Allen', 14, 'Bangalore', 150 )");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (3, 'Martha', 15, 'Hyderabad', 200 )");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (4, 'Palak', 15, 'Kolkata', 650)");
conn.commit()
conn.close()

In [290]:
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
for row in cursor.execute("SELECT id, name, marks from SCHOOL"):
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  Rohan
MARKS =  200

ID =  2
NAME =  Allen
MARKS =  150

ID =  3
NAME =  Martha
MARKS =  200

ID =  4
NAME =  Palak
MARKS =  650

In [291]:
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
conn.execute("UPDATE SCHOOL set MARKS = 250 where ID = 3")
conn.commit()
for row in cursor.execute("SELECT id, name, address, marks from SCHOOL"):
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  Rohan
MARKS =  Delhi

ID =  2
NAME =  Allen
MARKS =  Bangalore

ID =  3
NAME =  Martha
MARKS =  Hyderabad

ID =  4
NAME =  Palak
MARKS =  Kolkata